*{
margin: 0;
padding: 0;
/* box-sizing: border-box; */
}
/* .container{
    width: 97%;
    margin: 0 auto;
    align-items: center;
} */
.row{
    display: flex;
    flex-flow: wrap row;
    /* align-items: center; */
    list-style:    none ;
}
.row > [class*="col-"]{

    /* border: 1px solid rgb(34, 31, 27); */
 align-items: center;
}
.first{
    order: -1;
}

.last{
    order: 12;
}
.center{
    text-align: center;
    justify-content: center;
}
.end{
    justify-content: flex-end;
}
.between{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
}
.evenly{
    justify-content: space-evenly;
}
.align-start{
align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.col-1{
    flex-flow: 8.33333%;
}
.col-2{
    flex-flow: 16.66666%;
}
.col-3{
    flex-basis: 25%;
}
.col-4{
    flex-basis: 33.3333%;
}
.col-5{
    flex-basis: 41.66666%;
}
.col-6{
    flex-basis: 50%;
}
.col-7{
    flex-basis: 58.33333%;
}
.col-8{
    flex-basis: 66.6666%;
}
.col-9{
    flex-basis: 75%;
}
.col-10{
    flex-basis: 83.33333%;
}
.col-11{
    flex-basis: 91.6666%;
}
.col-12{
    flex-basis: 100%;
}
